<div class="sticky top-0 shadow-lg bg-white z-50">
  <div class="container mx-auto flex justify-between items-center px-4 py-3 md:px-8 md:py-4">
    <div class="flex items-center space-x-4">
      <img src="/logo.png" alt="Logo" class="h-10 md:h-20 w-auto transition-transform hover:scale-105">
    </div>
    <button class="h-8 md:h-12 mr-4 md:mr-6 px-2 py-2 md:px-3 md:py-3  flex gap-1 md:gap-2 items-center font-bold text-sm md:text-xl rounded-md hover:bg-green-200" (click)="logout()"> Logout  <ng-icon name="heroArrowRightOnRectangle" class="text-2xl"/>
    </button>
  </div>
</div>


