<div class="px-6 py-4">
  <div class="flex overflow-hidden rounded-xl border border-[#e6d3d1] bg-[#fbf9f8]">
    <div class="w-full"
         [class.max-h-120]="tableData().length > 4"
         [class.overflow-y-auto]="tableData().length > 4">
      <div class="overflow-x-auto">
        @if (hasData()) {
          <table class="w-full">
            <thead class="sticky top-0 z-10">
              <tr class="bg-[#fbf9f8]">
                @for (header of columns; track header.key) {
                  <th class="text-align px-4 py-3 text-left h-16 text-md font-medium leading-normal bg-[#2d5a95]/75 text-white min-w-[200px]">
                    {{ header.label }}
                  </th>
                }
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              @for(item of tableData(); track item) {
                <tr class="hover:bg-gray-50">
                  @for (header of columns; track header.key) {
                    <td [ngClass]="cellPadding + ' ' + cellMargin + ' text-gray-900 font-noto-sans text-sm font-normal leading-normal min-w-[200px]  border-r border-gray-300'">
                      @if (isActionColumn(header.key)) {
                        <button
                          (click)="onActionClick(item, header.key, $event)"
                          class="text-blue-600 hover:underline cursor-pointer">
                          {{ header.key === 'download' ? 'Download' : 'View' }}
                        </button>
                      } @else {
                        {{ item[header.key] }}
                      }
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <div class="text-center py-8 text-gray-500">
            Select filters and click "Apply" to view data
          </div>
        }
      </div>
    </div>
  </div>
</div>
