<div class="px-5 py-3 bg-gray-50 min-h-screen">
  <div class="px-6 py-4">
    <h1 class="text-3xl font-semibold text-gray-900 mb-6">Student Schedule Report</h1>
  </div>

  <app-filtersearch
    [dropdownConfigs]="dropdownConfigs"
    [data]="dataSt()"
    (filteredDataChange)="onFilteredDataChange($event)"
  ></app-filtersearch>

  <div class="px-6 py-4">
    <div class="flex overflow-hidden rounded-xl border border-[#e6d3d1] bg-[#fbf9f8]">
      <div class="w-full"
           [class.max-h-120]="filteredData().length > 4"
           [class.overflow-y-auto]="filteredData().length > 4">
        <table class="w-full">
          <thead class="sticky top-0 z-10">
            <tr class="bg-[#fbf9f8]">
              @for (header of title; track header.key) {
                <th class="text-align px-4 py-3 text-left h-16 w-96 text-md font-medium leading-normal bg-[#759fd7] text-white"
                    [class.w-60]="header.key === 'download'"
                    [class.text-gray-900]="header.key === 'download'"
                    [class.text-gray-900]="header.key !== 'download'">
                  {{ header.label }}
                </th>
              }
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            @for(item of filteredData(); track item.batchName) {
              <tr class="hover:bg-gray-50">
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.verticalName }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.hubName }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.courseName }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.catName }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.batchName }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.semester }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.examType }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">{{ item.examCatType }}</td>
                <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal">
                  {{ item.schedule | date:'medium' }}
                </td>
                <td class="h-[72px] px-4 py-2 w-60 text-gray-900 font-montserrat text-sm font-bold leading-normal tracking-[0.015em]">
                  <a href="#">{{item.download }}</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

