<main class="min-h-screen flex flex-col">
  <div *ngIf="!isLoginPage" class="mb-7 sticky top-0 z-50">
    <app-header></app-header>
  </div>
  <div class="flex-grow">
    <app-tab *ngIf="!isLoginPage" [Data]="data"></app-tab>

  </div>
  <router-outlet></router-outlet>
  <footer *ngIf="!isLoginPage" class="text-base font-bold flex justify-between items-center bg-[#eeeeee] py-3 text-[#1E1E1E] shadow-inner px-10">
    <div>Version {{version}}</div>
    <div class="flex">Powered By <img src="/offee.png" alt="offee" class="h-6 w-auto"></div>
  </footer>
</main>


