<div class="flex items-center gap-4 px-10 py-3 ">

  <!-- Dropdown trigger -->
  <div class="relative">
    <button
      (click)="toggleDropdown()"
      class="flex items-center px-4 py-2 rounded-md shadow-light-50 shadow-md transition-colors text-xl hover:bg-[#7890b9]">
      <div class="hover:invert flex items-center gap-2 ">
        <img src="/hamburger-menu-svgrepo-com.svg" alt="Menu" class="size-6 ">
        Menu
      </div>
    </button>

    <!-- Dropdown options -->
    <div
      class="absolute left-0 mt-2 w-auto bg-white border border-gray-200 rounded-md shadow-lg z-50"
      *ngIf="isDropdownOpen">
      <div>
        <nav class="flex flex-col">
          @for (item of Data(); track item.name) {
            <div class="relative group">
              @if (item.suboption.length) {
                <button
                  (click)="selectMainItem(item)"
                  [class.text-gray-900]="selectedMainItem === item.name"
                  class="flex items-center justify-between w-full space-x-1 px-6 py-2 hover:text-[#2D5A95] font-medium"
                >
                  <span>{{ item.name }}</span>
                  <svg class="w-4 h-4 transform transition-transform"
                       [class.rotate-180]="openAccordionItem === item.name"
                       fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                  </svg>
                </button>
              }@else {
                <a
                  [routerLink]="item.routes"
                  class="block text-md text-gray-900 font-montserrat px-6 py-2 hover:text-[#2D5A95]"
                  (click)="selectSubItem(item.name)"
                  [class.font-bold]="selectedItem === item.name"
                >
                  {{ item.name }}
                </a>
              }

              @if (openAccordionItem === item.name && item.suboption.length) {
                <div class="flex flex-col pl-8 py-1 bg-gray-50">
                  @for (subItem of item.suboption; track subItem.name) {
                    <a
                      [routerLink]="subItem.route"
                      class="block text-md text-gray-900 font-montserrat px-6 py-2 hover:text-[#2D5A95]"
                      (click)="selectSubItem(subItem.name)"
                      [class.font-bold]="selectedItem === subItem.name"
                    >
                      {{ subItem.name }}
                    </a>
                  }
                </div>
              }
            </div>
          }
        </nav>
      </div>
    </div>
  </div>
</div>

