<div class="flex items-center gap-4 px-10 justify-between">

  <!-- Dropdown trigger -->
  <div class="relative">
    <button
      (click)="toggleDropdown()"
      class="h-8 md:h-10 px-2 py-2 md:px-3 md:py-3  flex gap-1 md:gap-2 items-center text-sm md:text-lg rounded-md bg-[#2D5A95] hover:bg-[#2D5A95]/50 text-white hover:text-[#2D5A95] shadow-md cursor-pointer">
      <ng-icon name="heroBars3" />
        Menu
    </button>

    <!-- Dropdown options -->
    <div
      class="absolute left-0 mt-2 w-auto bg-white border border-gray-200 rounded-md shadow-lg z-50"
      *ngIf="isDropdownOpen">
      <div>
        <nav class="flex flex-col">
          @for (item of Data(); track item.name) {
            <!-- Container for main item and its sub-options -->
            <div class="relative group">
              @if (item.suboption.length) {
                <button
                  (click)="selectMainItem(item)"
                  [class.text-gray-900]="selectedMainItem === item.name"
                  class="flex items-center justify-between w-full space-x-1 px-6 py-2 hover:text-[#2D5A95] font-medium"
                >
                  <span>{{ item.name }}</span>
                  <ng-icon name="heroArrowLeft"  class="w-4 h-4 transform transition-transform"
                  [class.rotate-180]="openAccordionItem === item.name"/>
                </button>

                <!-- Sub-options positioned to the side -->
                @if (openAccordionItem === item.name) {
                  <div class="absolute left-full top-0 mt-[-1px] w-full min-w-[200px] bg-gray-50 border border-gray-200 rounded-md shadow-lg z-50">
                    <div class="flex flex-col py-1">
                      @for (subItem of item.suboption; track subItem.name) {
                        <a
                          [routerLink]="subItem.route"
                          class="block text-md text-gray-900 font-noto-sans px-6 py-2 hover:text-[#2D5A95]"
                          (click)="selectSubItem(subItem.name)"
                          [class.font-bold]="selectedItem === subItem.name"
                        >
                          {{ subItem.name }}
                        </a>
                      }
                    </div>
                  </div>
                }

              }@else {
                <a
                  [routerLink]="item.routes"
                  class="block text-md text-gray-900 font-montserrat px-6 py-2 hover:text-[#2D5A95]"
                  (click)="selectSubItem(item.name)"
                  [class.font-bold]="selectedItem === item.name"
                >
                  {{ item.name }}
                </a>
              }
            </div>
          }
        </nav>
      </div>
    </div>
  </div>
  <span class="font-medium text-lg text-gray-700 hidden md:block">{{ auth.currentUser()?.email }}</span>
</div>

