<div class="px-5 py-3 bg-gray-50 min-h-screen">

  <!-- Updated table container with scrolling functionality -->
  <app-filtersearch
    [dropdownConfigs]="dropdownConfigs"
    [data]="dataSt()"
    (filteredDataChange)="onFilteredDataChange($event)"
  ></app-filtersearch>

  <div class="px-6 py-4">
    <div class="flex overflow-hidden rounded-xl border border-[#e6d3d1] bg-[#fbf9f8]">
      <div class="w-full"
           [class.max-h-120]="filteredData().length > 4"
           [class.overflow-y-auto]="filteredData().length > 4">
        <div class="overflow-x-auto">
          <table class="w-full">
            <thead class="sticky top-0 z-10">
              <tr class="bg-[#fbf9f8]">
                @for (header of title; track header.key) {
                  <th class="text-align px-4 py-3 text-left h-16 text-md font-medium leading-normal bg-[#759fd7] text-white min-w-[150px]"
                      [class.w-60]="header.key === 'download'"
                      [class.text-gray-900]="header.key === 'download'"
                      [class.text-gray-900]="header.key !== 'download'">
                    {{ header.label }}
                  </th>
                }
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              @for(item of filteredData(); track item.batchName) {
                <tr class="hover:bg-gray-50">
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.verticalName }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.hubName }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.courseName }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.catName }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.batchName }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.semester }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.examType }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">{{ item.examCatType }}</td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">
                    {{ item.schedule | date:'medium' }}
                  </td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">
                    {{ item.questionPaperStatus}}
                  </td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">
                    {{ item.envelopeReceived}}
                  </td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">
                    {{ item.zipUploadCount }}
                  </td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">
                    {{ item.examinerId }}
                  </td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">
                    {{ item.examinerName}}
                  </td>
                  <td class="h-[72px] px-4 py-2 text-gray-900 font-montserrat text-sm font-normal leading-normal min-w-[150px]">
                    {{ item.paperCheckingStatus }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
