@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lilita+One&family=Secular+One&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
}
.newfont{
  font-family: 'EB Garamond', serif;
}
@import "tailwindcss";


html, body { height: 100%; }
